################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.exe
/.vs/TDI Radio/v14/.suo
