<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="radio.My.MySettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup>
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
    </startup>
    <userSettings>
        <radio.My.MySettings>
            <setting name="Zvuk" serializeAs="String">
                <value>70</value>
            </setting>
            <setting name="radio" serializeAs="String">
                <value>http://streaming.tdiradio.com:9999/</value>
            </setting>
        </radio.My.MySettings>
    </userSettings>
</configuration>
